.hint {
    margin: -.75rem !important;
    margin-left: -1.5rem !important;
}

.card-header, .badge {
    cursor: pointer !important;
}

.btn {
    color: rgb(67, 160, 71) !important;
    font-size: 85% !important;
}

.badge {
    font-size: 1rem !important; 
}

.card {
    border-style: none !important;
}