.hint {
    margin: -.75rem ;
    margin-left: -1.5rem ;
}

.card-header, .badge {
    cursor: pointer ;
}

.btn {
    color: rgb(67, 160, 71) ;
    font-size: 85% ;
}

.badge {
    font-size: 1rem ; 
}

.card {
    border-style: none ;
}